html {
  scroll-behavior: smooth;
}

.main_title {
  text-align: center;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 700px;
  margin: 30px auto;
}

h2 {
  font-family: 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 40px;
}


.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  margin: 5px;
  height: auto;
  width: 48%;
}

.data_print {
  max-width: 600px;
  margin: 30px auto;
  font-family: monospace;
  font-size: 15px;
}

.buttons {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  width: 30%;
}

.home_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 10px; */
  font-size: 16px;
}

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    height: 50px;
    margin-top: 15px;
    padding: 15px;
    font-size: 17px;
    border-color: #4a4946;
  }

.button:hover,
.home_button:hover {
  background-color: #0056b3;
  /* Hover background color */
}

button[type=submit] {
    width: 100%;
    background-image: linear-gradient(to bottom, #ff1764 0%, #f70052 100%);
    border: 0;
    margin-top: 25px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }