<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Levels Hire</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <button class="home_button" onclick="window.location.href='/'">← home</button><br /><br />
            <h1 class="main_title">Levels Hire</h1>
            <h1>Find suitable job</h1>
            <form method="POST" action="/process_skills">
                <label for="user_skills">Enter your skills:</label>
                <input type="text" id="user_skills" name="user_skills" placeholder="eg: Python, Hadoop, NoSQL" required>
                <button class="submit" type="submit">Submit</button>
            </form>
            <pre>{{ suitable_job }}</pre>
        </div>
    </div>
</body>

</html>