<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Levels Hire</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1 class="main_title">Levels Hire</h1>
            <button class="home_button" onclick="window.location.href='/skills-lookup'">Job Skills
                Lookup</button><br /><br />
            <button class="home_button" onclick="window.location.href='/find-job-role'">Find suitable job
                role</button><br /><br />
        </div>
</body>

</html>